/* This is the style file for the login page made for the Admin/ Professor*/

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	background: linear-gradient(90deg, #C7C5F4, #776BCC);		
}

.head{
        width: 70%;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #736cbe;
        position: relative;
        margin: auto;
        margin-top: 2%;
        border-radius: 10px;
        border: 1px solid #868686;
        -webkit-box-shadow: 5px 5px 10px 5px #FAFAFA; 
        box-shadow: 5px 5px 10px 5px #585858;

} 


  nav ul{
    list-style-type: none;
    margin: auto;
    padding: auto;
    background-color:  #d2d1e2;
    border-radius:5px;
    width: 90%;
    margin-bottom: 2%;

  }

.sub{
    color: #ffffff;
    
}
.container {
   max-width: 500px;
  margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.screen {		
	background: linear-gradient(90deg, #5D54A4, #7C78B8);		
	position: relative;	
	height: 600px;
	width: 400px;
    margin: auto;
	box-shadow: 0px 0px 14px #5C5696;
}

.screen__content {
	z-index: 1;
	position: relative;	
	padding-top: 30%;
	height: 100%;
    max-width: 300px;
    margin: auto;
}

.screen__background {		
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 0;
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    background-color: #b7b3e9;
    border: 0;
    padding: 5px 5px;
    color: #6A679E;
    width: auto;
    font-size: 15px;
    border-radius: 5px;

  }
 
  .center{
    margin-left: auto;
    margin-right: auto;
   }

 .Rtable {
    border: 2px solid #AAAAAA;
    background-color: #e3e3f1;;
    width: 70%;
    text-align: left;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 5px 5px 15px 5px #FAFAFA; 
    box-shadow: 5px 5px 15px 5px #585858;
  }
  td, th {
    border: 1px solid #AAAAAA;
    padding: 5px 4px;
  }
 tbody td {
    text-align: center;
    font-size: 15px;
    color: #333333;
  }
  tr:nth-child(even) {
    background: #D8D9F5;
  }
  thead {
    background: #6e70ce;
    background: -moz-linear-gradient(top, #a9aad0 0%, #9899c7 66%, #8D8EC1 100%);
    background: -webkit-linear-gradient(top, #a9aad0 0%, #9899c7 66%, #8D8EC1 100%);
    background: linear-gradient(to bottom, #a9aad0 0%, #9899c7 66%, #8D8EC1 100%);
    border-bottom: 2px solid #b6b0b0;
  }
  thead th {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #070707;
    border-left: 2px solid #AAAAAA;
  }
  thead th:first-child {
    border-left: none;
  }

  header{
    text-align: center;
  }
  